body{
    background-color: gray;
    margin: 0;
    overflow: hidden;
}

header{
    padding: 1px;
    background-color: transparent;
    margin: 0;
    text-align: center;
    color: white;
}
nav{
    padding: 10px;
}
a{
    color: white;
    text-decoration: solid;
}
a:hover{
    color: white;
    text-decoration: solid;
    font-weight: bold;
}
canvas{
    background-image: radial-gradient(#032859, black);
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}